@model List<HouseholdBudgeterFrontEnd.Models.Classes.ViewHouseholdViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Household Index</h2>
@Html.ActionLink("Create Household", "Create", "Households")
<p>Find below the list of households that you have created</p>






@if (Model == null || !Model.Any())
{
    <p>You haven't created any households</p>
}
else
{
    <table>
        <thead>
            <tr>
                <td>
                    Name of Household
                </td>
                <td>
                    Members
                </td>
            </tr>
            <tr>
                
            </tr>
            
        </thead>
        <tbody>
            @foreach (var household in Model)
            {
            <tr>
                <td>
                    @household.Name
                </td>
                <td>
                    @household.Members
                </td>
                <td>
                    @Html.ActionLink("Members", "ViewMembers", "Households", new { id = household.Id }, null)

                </td>
                <td>
                    @Html.ActionLink("Invite", "Invite", "Households", new { id = household.Id }, null)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Households", new { id = household.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Bank Accounts", "Index", "BankAccounts", new { id = household.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Categories", "Index", "Categories", new { id = household.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Transactions", "Index", "Transactions", new { id = household.Id }, null)

                </td>
                <td>
                    @using (Html.BeginForm("Leave", "Households", new { id = household.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Leave" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </td>
                
            </tr>
            }
        </tbody>
    </table>

}

